@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'DM Sans', sans-serif;

  --color-teal-800: #099268;
  --color-teal-900: #087F5B;
  --color-teal-950: #077050;

  --color-gray-0: #F8F9FA;
  --color-gray-100: #F1F3F5;
  --color-gray-400: #CED4DA;
}

@layer base {
  * {
    font-family: var(--font-sans);
  }
}